* {
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background: cornsilk;
  font-family: inherit;
}

article > :first-child + :not(:last-child) {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-family: serif;
}

[class='article'] > h1 {
  margin: 0 0 24px 0;
  color: palevioletred;
}

.figure__image {
  position: relative;
  left: 4214px;
  max-width: 100%;
  transform: translateX(-4214px) rotate(720deg);
}

figure > img,
figure > img ~ * {
  margin: 8px 0 0;
  font-style: italic;
}

figure > img:first-child {
  margin-top: 0;
}

.article {
  max-width: 680px;
  font-family: sans-serif;
  padding: 24px;
}

.figure__caption {
  text-align: center;
}
