*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arial';
  font-style: normal;
  font-size: 16px;
  color: #2f2f2f;
  background: #e5e5e5;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.goods {
  padding: 40px 0 76px;
  background: #f6f6f6;
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
  height: 100vh;
}
.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  text-align: center;
}

.good__title {
  margin-bottom: 40px;
}

.goods__items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.goods__item {
  position: relative;
}

.goods__item-img {
  object-fit: cover;
}

.goods__item-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
}

.box__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.box__description {
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 72px;
}

.box__btn {
  background: #fff;
  border: 2px solid #42940f;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  height: 48px;
  color: #42940f;
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  cursor: pointer;
}

.goods__item-info {
  display: flex;
  position: absolute;
  top: 16px;
  left: 16px;
  gap: 16px;
}

.new-good {
  display: inline-block;
  background: #fdcff3;
  padding: 0 16px;
  border-radius: 8px;
  padding: 5px 16px;
  cursor: pointer;
}

.last-good {
  display: inline-block;
  background: #ffcf56;
  padding: 0 16px;
  border-radius: 8px;
  padding: 5px 16px;
  cursor: pointer;
}

.new__good-hidden,
.last__good-hidden {
  display: none;
}

.box__btn:active {
  background: #1f5200;
  border: 2px solid #1f5200;
  color: #ffffff;
}

.box__btn:hover {
  background: #42940f;
  border: 2px solid #42940f;
  color: #ffffff;
}

.disabled {
  background: #4e4e4e;
  border: 1px solid #4e4e4e;
  color: #ffffff;
}

@media (max-width: 1220px) {
  .goods__items {
    flex-direction: column;
    align-items: center;
  }
  .goods__item-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 320px) {
  .goods {
    padding: 25px 0 25px;
  }
  .good__title {
    margin-bottom: 25px;
  }
  .title {
    font-size: 25px;
    line-height: 30px;
  }
  .box__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .box__description {
    line-height: 20px;
    margin-bottom: 50px;
  }
  .box__btn {
    font-size: 15px;
    height: 40px;
  }
  .goods__item-info {
    left: 10px;
    top: 10px;
    gap: 10px;
    font-size: 10px;
  }
}
